.paginated-view-wrapper {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.pagination {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.pagination button {
	margin: 0 5px;
	padding: 5px 10px;
	cursor: pointer;
}

.pagination button.active {
	background-color: #007bff;
	color: white;
}

.pagination button:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.items-per-page {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.items-per-page select {
	padding: 5px;
	margin-left: 10px;
}

.ellipsis {
	margin: 0 5px;
}
